* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 370px;
  max-width: 1080px;
  height: 100%;
}
